@media (max-width: 1080px) {
    .hero-content h2 {
        font-size: 55px;
    }
}
@media (max-width: 850px) {
    .hero-content h2 {
        font-size: 45px;
    }
    .common-btn {
        height: 40px;
        width: 155px;
        line-height: 40px;
    }
}
@media (max-width: 650px) {
    .hero-content h2 {
        font-size: 35px;
    }
}
@media (max-width: 570px) {
    .hero-content {
        width: 395px;
    }
    .hero-area .container {
        flex-direction: column;
    }
    .hero-img {
        width: 70%;
        margin: 0 auto;
        padding-top: 60px;
    }
    .hero-content h2 {
        font-size: 50px;
    }
    .common-btn {
        height: 45px;
        width: 165px;
        line-height: 45px;
    }
}
@media (max-width: 470px) {
    .hero-img {
        width: 95%;
    }
}
@media (max-width: 1000px) {
    .blog-boxes {
        padding: 50px 0;
    }
}
@media (max-width: 880px) {
    .blog-boxes {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 50px;
        padding: 70px;
    }
}
@media (max-width: 730px) {
    .blog-boxes {
        grid-template-columns: 1fr;
        grid-column-gap: 0;
        padding: 80px;
    }
}
@media (max-width: 600px) {
    .blog-boxes {
        padding: 50px 0;
    }
}
@media (max-width: 1050px) {
    .highlight-content h2 {
        font-size: 30px;
        width: 100%;
    }
    .highlight-content p {
        width: 100%;
    }
}
@media (max-width: 800px) {
    .highlight-area .container {
        flex-direction: column;
    }
    .highlight-content {
        width: 100%;
        margin-bottom: 50px;
    }

    .highlight-img {
        width: 80%;
        margin: 0 auto;
    }
}
@media (max-width: 600px) {
    .highlight-img {
        width: 100%;
    }
}
@media (max-width: 800px) {
    .table-container table {
        min-width: 600px;
    }
    .table-container {
        padding: 20px 0;
        overflow-x: scroll;
    }
}
@media (max-width: 1180px) {
    .signup-content {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .signup-content p {
        width: 70%;
        text-align: center;
        padding: 30px 0;
    }
    .signup-content h2 {
        text-align: center;
        width: 100%;
        font-size: 40px;
    }
    .signup-input-container input[type="email"] {
        transform: translateX(-35px);
        margin: 0 auto;
    }
    .signup-input-container input[type="submit"] {
        transform: translateX(-35px);
    }
}
@media (max-width: 740px) {
    .signup-input-container input[type="email"] {
        transform: translateX(-90px);
        margin: 0 auto;
    }
    .signup-input-container input[type="submit"] {
        transform: translateX(-90px);
    }
}
@media (max-width: 550px) {
    .signup-input-container input[type="email"] {
        padding: 14px 20px;
        width: 250px;
        transform: translateX(-50px);
    }
    .signup-input-container input[type="submit"] {
        padding: 14px 20px;
        transform: translateX(-150px);
    }
}
@media (max-width: 420px) {
    .signup-input-container input[type="email"] {
        padding: 14px 20px;
        width: 250px;
        transform: translateX(-80px);
    }
    .signup-input-container input[type="submit"] {
        padding: 14px 20px;
        right: 35px;
    }
}

@media (max-width: 740px) {
    .footer-img {
        width: 70%;
        margin: 0 auto;
    }
}
